body{



  background-image: url(../../../storage/tree.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}


header ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header li{

  margin-right: 10px;
}



ul.links {
    margin-top: 20px;

}
/* ul img {
    width: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
    margin-left: 5px;
    margin-right: 10px;

} */

nav {
    display: flex;
    flex-wrap: wrap;

}

nav form {
    display: flex;
    margin-top: 10px;
}


form input {
    width: 100%;
    margin-right: 10px;
}

form button {
    height: 36px;
}






/***************************
      HOME POST
****************************/

.photoContainer img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;

}



.postContainer:nth-child(1) {

  margin-top: 130px;

}
  .postContainer {
    background-color: #c0c0c0;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;

  }

  .photoProfileContainer {

    width: 100%;

    display: flex;
    flex-direction: row;
    border-radius: 5px 0px 5px 0px;


  }


  .postContainer .userName {
    width: 50%;

  }

  .userName h2 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .userName p {
        margin-left: 10px;
  }

  .postContainer .photoProfileContainer img.profilePicture {
  display: block;
  width: 80px;
  margin-left: 5px;
  border-radius: 5px;
  margin-top: 10px;
  height: 80px;

  }




  .postImage img{
    display: block;
    width: 100%;
    margin-top: 10px;


  }


  div.postIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.2px solid grey;

  }

  .postIcons-heart {
    width: 50%;
    border-right: 1px solid black;
  }

  .postIcons-comment {
    width: 50%;

  }

  button.buttons {
    font-size: 20px;
    width: 100%;
  }

  button.buttons2 {
    background-color: #c0c0c0;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 15px;


  }

  button.buttons i {
    color: black;
  }

  .comments {
    margin-top: 20px;


  }

  .comments p {
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
  }
.jumbotron h1{
  font-family: 'Cinzel Decorative', cursive;
}

.jumbotron h2{
  font-family: 'Cinzel Decorative', cursive;
}



/***************************
      Profile User
****************************/

.profileUserContainer {
  margin-top: 25px;
}

div.containerUser{

  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;


}

.card {
display: block;
background-color: lightgrey;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 100%;
text-align: center;
margin-top: 2px;

}

div.imageUser img{
  padding-top: 5px;


  width: 100%;
  border-radius: 50%;

}

.titleUser {
  color: red;
  font-size: 18px;
}

p.text{

  color: black;

}

a.social {
  text-decoration: none;
  font-size: 22px;
  color: black;
}



  div.postContainerProfile {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }



  div.postImageProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;

  }

  div.postImageProfile::after {
    flex-grow: 1;
    content: "";

  }

  div.single-img {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;


  }

  div.single-img img {
    display: block;
    width: 100%;
    padding: 5px;
  }

  .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(192,192,192,0.3);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30%;

  }

  .img-heart, .img-comments {
    width: 50%;


  }

  .img-heart a i, .img-comments a i {
    font-size: 20px;


  }



  .single-img:hover .img-overlay {
    height: 100%;
  }



  div.lineProfile {
  border-top: 1px solid black;
  width: 50%;
  margin: 0 auto;
  }

  div.downLineProfile {
    margin-top: 12px;
  }


  div.addPostContainer {
    display: none;
  }

   div.addPostContainer i {
     display: none;
   }

   div.mobileAddPostContainer {
    margin-top: 30px;
   }

   div.mobileAddPostContainer i {

     font-size: 30px;
     text-align: right;
    width: 100%;
   }

   /*ADD POST */
   .inputAddPost {
  padding:15px 25px;
  font-family: georgia;
  background: blanchedalmond;
  border:none;
  border-radius: 5px;
  color:#333;
  font-size: 14px;
  margin-top:15px;
  margin-bottom: 10px;
   }











   /***************************
      MEDIA QUIRES
****************************/




@media screen and (min-width: 510px) {



  div.friends-box {

    display: none;

  }

  .postContainer {
    width: 100%;

  }

  div.postImage {

    width: 100%;


  }

  .postImage img {
    width: 100%

  }

  .photoContainer img {
    margin-top: 60px;
    height: 260px;
  }

  /***************************
  Profile User
  ****************************/

  main.profileUserContainer {
    display: flex;


  }

  div.lineProfile {
    display: none;
  }




  .containerUser {
    width: 30%;

  }

  div.postContainerProfile {
    width: 70%;
    margin-top: 100px;
    margin-left: 10px;


  }

  div.containerUser {
    margin-top: 20px;
  }

    div.addPostContainer {
      display: block;
      width: 100%;
    margin-top: 30px;
  }

   div.addPostContainer i {
     display: block;
      font-size: 30px;
     text-align: right;
      width: 100%;
   }


   div.mobileAddPostContainer {
    display: none;
   }

   div.mobileAddPostContainer i {
    display: none;
   }

   /*Add Post */

   .labelPost {
 margin-top:20px;
   }

      .inputAddPost {

  margin-bottom: 10px;
   }


  /********************
  homePost
  *********************/
  .img-heart a i, .img-comments a i {
    font-size: 30px;


  }

  /*****************
  POSTDETAIL
  ******************/


  .details-Nick {
    margin-left: 40px;
  }

  .user-Image-Profile {

    width: 60px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 50px;

  }
  .comments-Container {

    display: flex;
    flex-direction: row;
    margin-left: 20px;


  }

  .comments-Container .user-Name {
    font-size: 20px;
  }

  .users-Comments {

    padding-top: 8px;
    margin-left: 6px;
    font-size: 12px;

  }


  .arrowBack i {
    font-size: 50px;
  }

  /*********** ADD ************/

  div.formContainer {
    width: 80%;
    margin: 0 auto;

  }



}


@media screen and (min-width: 900px) {
  footer {
    display: none;
  }

  .photoContainer img {
    margin-top: 10px;
    height: 260px;
  }

  .postContainer:nth-child(1n) {

    margin-top: 50px;

  }


  .postContainer {
    margin-top: 0;
    width: 80%;


  }



  .postImage img {
    width: 100%;

  }

  div.friends-box{
    display: block;
    border-radius: 5px;

  }


  /*
  PROFILEUSER
  */

  main.profileUserContainer {
    width: 80%;
    margin: 0 auto;
  }

  div.postContainerProfile {
    margin-left: 50px;
  }

  div.containerUser {
    margin-left: 100px;
  }

  .title h1 {
    margin: 0 auto;
    width: 300px;
    color: black;

  }

  /* ADD POST */
    div.addPostContainer {
      display: block;
    margin-top: 30px;
    position: absolute;
    right: 30px;
  }

   div.addPostContainer i {
     display: block;
      font-size: 30px;
     text-align: right;
      width: 100%;
   }









  /*****************
  POSTDETAIL
  ******************/




  .user-Image-Profile {

    width: 70px;

    border-radius: 30px;

  }


  .comments-Container .user-Name {
    font-size: 20px;
  }

  .users-Comments {
    font-size: 13px;

  }


  /********************
  homePost
  *********************/


  .img-heart a i, .img-comments a i {
    font-size: 40px;
  }

  .postContainer {
    position: relative;
    margin-right: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .postDetailContainer {
    margin: 0 auto;
  }

  /*********** ADD ************/

  div.formContainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;

  }


}





}
